body{
    margin: 0px auto;
    padding: 0px;
    max-width: 1920px;
    scroll-behavior: smooth;
}
*{
    box-sizing:border-box;
    transition: all 0.5s ease-out;
}

.main-container{
    padding: 0px 30px;
    
}
.owl-stage-outer{
    border-radius: 8px;
}
.owl-carousel{
    margin-bottom: 10px;
}
.nav-bar{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 17px 0px;

}
.menu{
    display:none;
    color: black;
    padding: 0px 14px;
    border: 0.1px solid gray;
    border-radius: 5px;
}
.image:hover .arrow-button{
    background-color: #ed6b6d;
    
}
.list li:hover i{
    color:blue;
}
.main-container a{
    font-weight: 800;
    font-family: "Urbanist"; 
    text-decoration: none;
    font-size: 18px;
    line-height: 40px;
}
.arrow-button {
    color: white;
    font-size: 29px;
    padding: 19.5px 18.5px;
    background-color: #3385ef;
    border-radius: 8px;
    width: 15% !important;
}
.logo{
    margin-top: 12px;
}
.nav-link li{
    padding-left: 27px;
}
.nav-link a{
    color:#000000
}
.nav-link{
    display:flex;
    margin-right: -9px;
}
li{
    list-style-type: none;
}
.newsletter-btn{
    color: #ffffff;
    background-color: #3486ef;
    padding: 13px 52px;
    border-radius: 8px;
    transition-duration: 1s;
}
.newsletter-btn:hover{
    background-image: radial-gradient(circle, rgb(63, 94, 251) 0%, rgb(252, 70, 107) 100%);
}
.banner{
    background-image: url("../img/bannerBackground.png");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    min-height:480px;
    border-radius: 8px;
}
h1{
    font-size: 40px;
    line-height: 50px;
    color: #000000;
    font-weight: 400;
    font-family: "Urbanist";
}
input.search-box{
    border: none;
    width:87%;
    margin-left: 10px;
    background-color: transparent;
    font-size: 18px;
    line-height: 40px;
    color: #000000;
    font-weight: 400;
    font-family: "Urbanist";
}
.search-div{
    border:1px solid black;
    width: 430px;
    height:58px;
    border-right:none;
    border-radius: 5px;
    display:flex;
}
.search-div a{
    position: relative;
    left: 46px;
}
.list i{
    font-size: 16px;
    color:black;
}
.list a:hover{
    font-size: 20px;
    color:blue;
}
input.search-box:focus{
    outline: none;
}
.image:hover{
    position:relative;
    bottom: 5px;
}
.image{
    box-shadow: 0px 3px 12px rgba(0,0,0,0.09);
    max-height: 100%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.container{
    padding: 116px 280px;
    
}

h2{
    font-size: 24px;
    line-height: 50px;
    color: #000000;
    font-weight: 400;
    font-family: "Urbanist";
}
.card{
    margin-bottom: 49px;
    max-height: 100%;
}
.heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    margin-left: 19px;
    position: relative;
    bottom: 35px;
}
.list{
    max-width: 380px;
    margin-left: 19px;
    padding: 10px 0px;
}
 ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.list li{
    display: flex;
    justify-content: space-between;
    margin-right: 24px;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    font-weight: 400;
    font-family: "Urbanist";
    padding: 9px 0px;
    margin-top: 4px;
    max-height: 87px;
    margin-bottom: -6px;
    align-items: center;
}
.cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: -39px 0px;
    margin-bottom: -111px;
}
.pagging a {
    /* background-color: gray; */
    padding: 7px 13px;
    border-radius: 22px;
    margin: 0px 3px;
    color: #595e73;
    border: 1px solid #e9e8f3;
    /* letter-spacing: 0px; */
}
.pagging{
    text-align: center;
}
.pagging a:hover {
    background-color: #3486ef;
    color: white;
    border-radius: 8px;
}
#p2{
    padding: 8px 16px;
}
#p6{
    padding: 7px 10px;
}
.footer{
    background-image: url("../img/footrerBackground.png");
    background-size:cover;
    background-position: center top;
    background-repeat: no-repeat;
    margin-top: 85px;
    border-radius: 8px;
}
h3{
    font-size: 30px;
    line-height: 40px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Urbanist";
} 
.footer p{
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Urbanist";
}
.mail-box{
    display: flex;
    justify-content: space-between;
    border: 1px solid white;
    min-width: 480px;
    max-height: 56px;
    border-radius: 8px;
}
.mail-box i{
    padding: 20px 20px;
    position: relative;
    bottom: 2px;
    left: 7px;
    color:white;
    border-radius: 8px;
    background-color: #ed6b6d;
}
.mail-box input{
    width: 90%;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 18px;
    line-height: 40px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Urbanist";
    position: relative;
    left: 10px;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    min-height: 372px;
    align-items: center;
}
.services{
    background-color: #0f172f;
    margin: 30px 0px;
    border-radius: 8px;
    padding: 67px 120px 0px 120px;
}
.services p{
    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
    font-weight: 300;
    font-family: "Urbanist";
}
h4{
    font-size: 18px;
    line-height: 40px;
    color: #ffffff;
    font-weight: 800;
    font-family: "Urbanist";
}
.all-services a{
    font-size: 18px;
    line-height: 40px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Urbanist";
} 
.up-part{
    display:flex;
}

.all-services img{
    margin-bottom: 20px;
}
.all-services{
    border-bottom: 1px solid #3f4559;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 11px;
    padding-bottom: 56px;
}
.link-list{
    display: flex;
    justify-content: space-between;
}
.social-media{
    max-width: 100px;
    display: flex;
    justify-content: space-between;
}
.column{
    flex-direction: column;
    
}
.links{
    min-width:250px;
    margin-left: 153px;
    margin-top: 5px;
}
.company{
    min-width: 300px;
    margin-right: 66px;
}

.copyright p{
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 40px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Urbanist";
}
.copyright a{
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 40px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Urbanist";
}
.copyright ul{
    display: flex;
    justify-content: space-between;
    min-width: 384px;
}
.copyright{
    display: flex;
    padding: 57px 0px;
    justify-content: space-between;
    align-items: center;
    
}
.services a:hover{
    color:#ed6b6d;
}
.mail-box i:hover{
    background-color: #3385ef;
}


.nav-link a::after{
    display:block;
    content: '';
    border-bottom: solid 1px black;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}
.nav-link a:hover::after{
    transform: scaleX(1);
}

.im{
    width:100%;
}
.link-m{
    margin-right: 3px;
}
.contact{
    margin-left: 62px;
}
.sm-flex{
    display: flex;
    margin-right: 35px;
}

@media (max-width:1760px){
    .container{
        padding: 116px 100px;
    }
    .image{
        max-height: 100%;
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    .banner{
        min-height: 442px;
    }
    .heading{
        padding: 10px 6px;
    }
    h2{
        font-size: 20px;
    }
    
    .list li{
        font-size: 17px;
        line-height: 30px;
    }
    .arrow-button{
        padding: 15.5px 15.5px;
    }
    .cards{
        justify-content: space-around;
    }
    h3{
        font-size: 23px;
    }
    .footer p{
        font-size: 16px;
    }
    .mail-box{
        max-height: 57px;
    }
    .footer{
        min-height: 320px;
    }
    .services p br{
        display: none;
    }
    .services p{
        font-size: 14px;
        max-width: 250px;
    }
    h4{
        font-size: 16px;
    }
    .all-services a {
        font-size: 14px;
        line-height: 40px;
    }
    .links {
        min-width: 197px;
    }
    .company {
        min-width: 232px;
    }
    .card{
        width: 32%;
    }
    .im{
        width:100%;
    }
    .heading{
        align-items: center;
    min-width: 90%;
    }
    .image{
        max-height: 100%;
    }

}
@media (max-width:1280px) {
    .nav-link{
        margin-right: 0px;
    }
    .card{
        width: 32%;
        height: 100%;
    }
    .im{
        width:100%;
    }
    .nav-link li {
        padding-left: 17px;
    }
    h1{
        font-size: 37px;
        line-height: 46px;
    }
    .search-div{
        width: 372px;
    }
    .container {
        padding: 115px 37px;
    }
    .banner {
        min-height: 429px;
    }
    
    .footer p {
        font-size: 18px;
    }
    h3 {
        font-size: 28px;
    }
    .mail-box{
        margin-top: 39px;
    }
    .links{
        margin-left: 0px;
    }
    
    .services{
        padding: 67px 20px 0px 20px;
    }
    
    .all-services{
        align-items: center;
        justify-content: space-around;
    }
    .copyright p {
        display: block;
    }
    .contact{
        margin-left: 0px;
    }
    .heading{
        bottom: 18px;
        margin-left: 0px;
    }
    .footer-container{
        flex-direction: column;
    }
    .arrow-button {
        padding: 13.5px 13.5px;
    }
    .list li {
        font-size: 15px;
        line-height: 27px;
    }
    .image{
        max-height: 53%;
    }
    .sm-flex{
        flex-direction: column;
    }
    .company{
        margin-right: 0px;
    }
}
@media(max-width:992px){
    .newsletter-btn{
        display: none;
    }
    .nav-link {
        margin-right: 5px;
    }
    h1 {
        font-size: 26px;
        line-height: 37px;
    }
    .search-div {
        width: 280px;
    }
    .copyright a {
        font-size: 12px;
    }
    .copyright ul{
        min-width: 299px;
    }
    .copyright p{
        font-size: 12px;
    }
    .copyright{
        padding: 38px 0px;
    }
    .card{
        width: 32%;
        height: 100%;
    }
    .arrow-button {
        padding: 11.5px 11.5px;
    }
    h2{
        font-size: 13px;
        line-height: 30px;
    }
    .list li {
        font-size: 11px;
        line-height: 22px;
    }
    .sm-flex{
        margin-right: 0px;
    }
    
}
@media(max-width:768px){
    .menu{
        display: block;
    }
    .nav-link{
        display: none;
    }
    .main-container{
        padding: 0px 10px;
    }
    h1 {
        font-size: 23px;
        line-height: 34px;
    }
    .container {
        padding: 88px 37px;
    }
    .banner {
        min-height: 318px;
    }
    .search-div {
        width: 235px;
    }
    .company {
        min-width: 156px;
    }
    .links {
        min-width: 176px;
    }
    .card {
        width: 50%;
        height: 100%;
    }
    .image {
        max-height: 50%;
    }
    .arrow-button {
        padding: 11.5px 11.5px;
    }
    h2 {
        font-size: 17px;
    }
    .list li {
        font-size: 13px;
        line-height: 26px;
    }.services p {
        font-size: 11px;
    }
    .sm-flex{
        min-width: 45%;
    }
}
@media(max-width:576px){
    .container {
        padding: 45px 8px;
    }
    .banner {
        min-height: 236px;
    }
    h1 {
        font-size: 18px;
        line-height: 24px;
    }
    .image .im{
        width: 100%;
    }
    .list li{
        font-size: 17px;
        line-height: 22px;
    }
    .pagging {
        margin-top: 137px;
    }
    .footer p {
        font-size: 14px;
    }
    h3 {
        font-size: 24px;
    }
    .mail-box{
        min-width: 283px;
    }
    
    .copyright{
        flex-direction: column;
    }
    .image {
        max-height: 61%;
    }
    .card {
        width: 100%;
        height: 100%;
        margin-bottom: 90px;
    }
    .list{
        max-width: 92%;
    }
    .all-services{
        flex-direction: column;
        align-items: inherit;
    }
    h4{
        text-align: center;
    }
    
    
}